@model onlineshop.Services.DTO.SupplerFirmDTO;

@{
    ViewBag.Title = "Details";
}

<h2>Suppler firm details</h2>

<div class="container">
    <h4>suppler firm</h4>
    <br/>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Address)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Country)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Country)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.RegisterDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.RegisterDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Rating)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Rating)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.MoneyValue)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.MoneyValue)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Description)
        </dd>

    </dl>
</div>

@if (ViewData["rSeller"] != null || ViewData["rOwner"] != null)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })

    </p>
}

<br/>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>