@model onlineshop.Services.DTO.UserDTO

@{
    ViewBag.Title = "Details";
}

<h2>User details</h2>

<div class="container">

    <dl class="row">

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.UserName)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.UserName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Email)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Email)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.PhoneNumber)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.PhoneNumber)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.KeyWord)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.KeyWord)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.FullName)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.FullName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Birthday)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Birthday)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Address)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Address)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Country)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Country)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.IsVIP)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.IsVIP)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.CreationTime)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.CreationTime)
        </dd>

        <dt class="col-sm-3">
            User roles
        </dt>

        <dd class="col-sm-9">
            <ul>
                @foreach (var item in ViewBag.UserRoles)
                {
                    <li>@item.Name</li>
                }
            </ul>
           
        </dd>


       
        <dt class="col-sm-3">
            Manage suppler firms
        </dt>

        @if (ViewBag.SupplerFirms != null)
        {
            <dd class="col-sm-9">
                <ul>
                    @foreach (var item in ViewBag.SupplerFirms)
                    {
                        <li>@item.Name</li>
                    }
                </ul>
            </dd>
        }
        else
        {
            <dd class="col-sm-9">
                the user is not a representative of any company
            </dd>
        }

      

    </dl>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>