@model IEnumerable<onlineshop.Services.DTO.DeliveryMethodDTO>

@{
    ViewBag.Title = "Index";
}

<h2>delivery methods list</h2>

@if (ViewData["rOwner"] != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Description)
            </th>
           
            <th>
                Details
            </th>
            @if (ViewData["rOwner"] != null)
            {
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            }
                    
        </tr>
    </thead>
    <tbody>

        @if (ViewBag.flag == true)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem=>item.Name)</td>
                    <td>@Html.DisplayFor(modeItem=>item.Description)</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id=item.Id })                       
                        
                    </td>
                    @if (ViewData["rSeller"] != null || ViewData["rOwner"] != null)
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                        </td>
                    }
                </tr>
            }
        }
        else
        {

            @if (ViewData["rSeller"] != null || ViewData["rOwner"] != null)
            {
                <tr>
                    <td colspan="5">no data</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="3">no data</td>
                </tr>
            }

            
        }
    </tbody>

</table>