@model onlineshop.Services.DTO.ProductDTO

@{
    ViewBag.Title = "Details";
}

<h2>Product details</h2>

<div class="container">

    <dl class="row">

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Cipher)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Cipher)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.CategoryDTO)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.CategoryDTO.Name)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.SupplerFirmDTO)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.SupplerFirmDTO.Name)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.CountAll)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.CountAll)
        </dd>

      

        <dt class="col-sm-3">
            @Html.DisplayFor(model=>model.Rating)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Rating)
        </dd>
        
        
        @if (Model.IsHot == true)
        {

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model=>model.IsHot)
            </dt>


            <dd class="col-sm-9">
                HOT PRODUCT!
            </dd>
        }
        

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model=>model.Description)
        </dt>

        <dd class="col-sm-9">
            @Html.DisplayFor(model=>model.Description)
        </dd>

    </dl>

</div>


@if (ViewData["rSeller"] != null || ViewData["rOwner"] != null)
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Add event","Create", "Events", new { id = Model.Id } )
    </p>
    
}


<br/>

<p>
    @Html.ActionLink("show comments", "Index", "Comments", new {id=Model.Id})
    
    |
    @Html.ActionLink("Back to List", "Catalog")
</p>